div.teaser {
    float: left;
    display: block;
    padding: 2px 8px!important;
}

div.teaser img {
    /*width: 100%;*/
    height: auto;
}

div.teaser.columns1 {
    width: 95%;
    clear: both;
}
div.teaser.columns2 {
    width: 47%;
}

div.teaser.columns3 {
    width: 30%;
}
div.teaser.columns4 {
    width: 22%;
}

div.teaser.columns2.even,
div.teaser.columns4.even {
    clear: left;
}
